.history {
  display: flex;

  .search {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .input {
      width: 180px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .logs {
    flex: 1;
  }
}
